/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Space Mono";
  src: url("assets/fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("assets/fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.hidden {
  display: none !important;
}

:root {
  --clr-accent-blue: hsl(212, 100%, 50%);
  --clr-accent-gray: hsl(217, 20%, 51%);
  --clr-accent-grayish-blue: hsl(217, 35%, 45%);
  --clr-accent-dark-blue: hsl(217, 21%, 21%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(227, 100%, 98%);

  --clr-shadows: rgba(70, 96, 187, 0.2);
  --clr-button: hsl(0, 0%, 100%);

  --ff-primary: "Space Mono", monospace;

  --fw-regular: 400;
  --fw-bold: 700;
}

.dark-mode {
  --clr-accent-gray: hsl(0, 0%, 100%);
  --clr-accent-grayish-blue: hsl(0, 0%, 100%);
  --clr-accent-dark-blue: hsl(0, 0%, 100%);

  --clr-neutral-100: hsl(222, 41%, 20%);
  --clr-neutral-200: hsl(220, 40%, 13%);

  --clr-shadows: none;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  justify-items: center;
  background-color: var(--clr-neutral-200);
  transition: 500ms;
}

main {
  width: 100%;
  max-width: 35rem;
  font-family: var(--ff-primary);
  color: var(--clr-accent-dark-blue);
  padding: 1.5rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: 1.625rem;
}

.header__button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0 0 0 1rem;
  gap: 1rem;
  border: none;
  color: var(--clr-accent-grayish-blue);
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.15625rem;
  cursor: pointer;
}

.header__button:is(:hover, :focus-visible) {
  opacity: 0.6;
}

.header__button--dark:is(:hover, :focus-visible) {
  filter: brightness(0%);
}

.header__button::after {
  content: "";
  background-image: url(assets/images/icon-sun.svg);
  background-position: center;
  background-size: cover;
  width: 1.25rem;
  height: 1.25rem;
}

.header__button--dark::after {
  background: url(assets/images/icon-moon.svg);
  background-position: center;
  background-size: cover;
}

.search {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-neutral-100);
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.9375rem;
  box-shadow: 0px 16px 30px -10px var(--clr-shadows);
  transition: 500ms;
}

.search__form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  column-gap: 1rem;
  width: 100%;
}

.search__form::before {
  content: "";
  flex-shrink: 0;
  background-image: url(assets/images/icon-search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.25rem;
  width: 1.3125rem;
}

.search__input {
  width: 100%;
  border: none;
  cursor: pointer;
  background: none;
  appearance: none;
  color: var(--clr-accent-dark-blue);
}

.search__input::placeholder {
  font-size: 0.8125rem;
  color: var(--clr-accent-grayish-blue);
}

.search__submit {
  color: var(--clr-button);
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
  background-color: var(--clr-accent-blue);
  border: none;
  border-radius: 0.625rem;
  padding: 0.75rem 1.125rem;
  cursor: pointer;
}

.search__submit:is(:hover, :focus-visible) {
  opacity: 0.5;
}

.search__error {
  padding: 0.25rem;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  font-size: 0.9375rem;
  color: #f74646;
  justify-self: start;
}

.data {
  display: grid;
  grid-template-columns: auto 1fr;
  display: grid;
  column-gap: 1rem;
  background-color: var(--clr-neutral-100);
  padding: 2rem 1.5rem 3rem 1.5rem;
  border-radius: 0.9375rem;
  box-shadow: 0px 16px 30px -10px var(--clr-shadows);
  transition: 500ms;
}

.data__bio,
.data__numbers,
.data__info {
  grid-column: 1 / 3;
}

.user__image {
  grid-row: 1 / 4;
  max-width: 4.75rem;
  align-self: center;
  border-radius: 50rem;
}

.user__username {
  font-size: 1rem;
  color: var(--clr-accent-dark-blue);
}

.user__tag {
  color: var(--clr-accent-blue);
  font-size: 0.8125rem;
}

.user__joined {
  margin-top: 0.5rem;
  color: var(--clr-accent-gray);
  font-size: 0.8125rem;
}

.data__bio {
  margin-top: 1.5rem;
  color: var(--clr-accent-grayish-blue);
  font-size: 0.8125rem;
  line-height: 1.92308;
}

.data__numbers {
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  padding: 1rem;
  list-style: none;
  background-color: var(--clr-neutral-200);
  border-radius: 0.625rem;
  transition: 500ms;
}

.data__numbers > li {
  flex-grow: 1;
  display: grid;
  place-items: center;
  font-size: 0.6875rem;
  color: var(--clr-accent-grayish-blue);
}

.data__numbers > li > strong {
  font-size: 1rem;
  color: var(--clr-accent-dark-blue);
}

.data__info {
  display: grid;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.info__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--clr-accent-dark-blue);
  font-size: 0.8125rem;
}

.info__item > a {
  text-decoration: none;
  color: var(--clr-accent-dark-blue);
}

.info__item > a:is(:hover, :focus-visible) {
  text-decoration: underline;
  opacity: 0.8;
}

.info__item::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.25rem;
  height: 1.25rem;
}

.info__item--location::before {
  content: "";
  background-image: url(assets/images/icon-location.svg);
}

.info__item--blog::before {
  content: "";
  background-image: url(assets/images/icon-website.svg);
}

.info__item--twitter::before {
  content: "";
  background-image: url(assets/images/icon-twitter.svg);
}

.info__item--company::before {
  content: "";
  background-image: url(assets/images/icon-company.svg);
}

.info__item--disabled {
  opacity: 0.5;
}

.loading {
  display: grid;
  place-items: center;
  background-color: var(--clr-neutral-100);
  width: 100%;
  min-height: 10rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0.9375rem;
  box-shadow: 0px 16px 30px -10px var(--clr-shadows);
}

.load {
  border-radius: 100rem;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid var(--clr-neutral-200);
  border-left: 0.25rem solid var(--clr-accent-blue);
  animation: rotate infinite 1s linear;
  transform: rotate(45deg);
}

@keyframes rotate {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@media (min-width: 34rem) {
  .search {
    margin-bottom: 1.5rem;
  }

  .data {
    padding: 2.5rem;
    column-gap: 2.5rem;
  }

  .user__image {
    max-width: 7.3125rem;
  }

  .user__username {
    font-size: 1.5rem;
  }

  .user__tag {
    font-size: 1rem;
  }

  .user__joined {
    font-size: 0.9375rem;
  }

  .data__numbers {
    padding-left: 2rem;
  }

  .data__numbers > li {
    place-items: start;
    font-size: 0.8125rem;
  }

  .data__numbers > li > strong {
    font-size: 1.375rem;
  }

  .data__info {
    grid-template-columns: 1fr 1fr;
  }

  .info__item {
    font-size: 0.9375rem;
  }
}

@media (min-width: 54rem) {
  main {
    max-width: 45rem;
  }

  .data {
    grid-template-columns: auto 1fr auto;
    padding: 2.5rem;
    column-gap: 2.5rem;
  }

  .data__bio,
  .data__numbers,
  .data__info {
    grid-column: 2 / 4;
  }

  .user__image {
    max-width: 7.3125rem;
    align-self: self-start;
  }

  .user__username {
    font-size: 1.625rem;
  }

  .user__joined {
    font-size: 0.9375rem;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .data__info {
    grid-template-columns: 1fr 1fr;
  }

  .info__item {
    font-size: 0.9375rem;
  }
}
